VITE_PUBLIC_SUPABASE_URL="https://nxzdytwemagrzdjghucj.supabase.co"
VITE_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_T0vB-tz5lpCdBL9TZq1eUA_sXz3W5ir"
VITE_PUBLIC_TOSS_CLIENT_KEY="test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm"
